In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'src')))

In [3]:
from scrapper.source.job_korea_ac_kr import JobKoreaAcKrScrapper

job_korea_ac_kr_scrapper = JobKoreaAcKrScrapper()
job_korea_ac_kr_scrapper.sign_in()
job_korea_ac_kr_scrapper.open_job_posting_page()

In [21]:
from db_manager.csv.base import CSVDBManager
db_manager = CSVDBManager()
db_manager.read_db()

In [22]:
num_pages_to_scrap = 5

for range in (0, num_pages_to_scrap) : 
    table = job_korea_ac_kr_scrapper.get_table()
    display(table)
    db_manager.append(table, source='job.korea.ac.kr')
    job_korea_ac_kr_scrapper.move_to_next_page()

db_manager.write_db()

,post_date,end_date,post_id,post_title,source,primary_key
0,2021-08-17,채용시 마감,950,딥블루닷 기업 처음부터 같이 시작하는 엔지니어 모집 (경력/신입/인턴) 일반채용 신...,job.korea.ac.kr,post_id
1,2021-08-17,2021-08-23,949,법무법인(유) 율촌 기업 로펌 교육팀 영상제작 인턴 채용공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
2,2021-08-17,채용시 마감,948,(주)블록워터테크놀로지스 기업 리서치 애널리스트(RA) / 마케터 인턴 채용 공고 ...,job.korea.ac.kr,post_id
3,2021-08-17,채용시 마감,947,피플펀드컴퍼니 기업 인턴 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
4,2021-08-17,2021-09-02,946,트릿지 기업 Communication (인턴십) 3개월 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
5,2021-08-17,채용시 마감,945,과학기술전문사관 기업 8기 후보생 모집 선발 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
6,2021-08-17,채용시 마감,944,공원녹지전문요원 기업 공원녹지전문요원 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
7,2021-08-17,채용시 마감,943,태안 기업 창업비즈센터 채용 일반채용 신입 정규직,job.korea.ac.kr,post_id
8,2021-08-17,2021-08-27,942,(주)아이피프라임 기업 신입사원 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id

TypeError: append() missing 1 required positional argument: 'source'

In [23]:
db_manager._data.shape[0]

18

In [24]:
db_manager._data

,post_date,end_date,post_id,post_title,source,primary_key
0,2021-08-23,채용시 마감,970,PwC컨설팅 기업 인턴 채용 공고 일반채용 신입 인턴,job.korea.ac.kr,post_id
1,2021-08-20,채용시 마감,969,에이스에쿼티파트너스(유) 기업 [에이스에쿼티파트너스] PEF 투자팀 인턴 애널리스트...,job.korea.ac.kr,post_id
2,2021-08-20,2021-08-25,968,KMAC 기업 공공조사1본부 RA 채용 일반채용 신입 인턴,job.korea.ac.kr,post_id
3,2021-08-20,채용시 마감,967,BNP Paribas 증권 기업 1 Year temp_Operations 일반채용 ...,job.korea.ac.kr,post_id
4,2021-08-20,채용시 마감,966,[당근마켓] 기업 프로젝트 인턴(명칭 당근마켓 MVP 인턴십) 홍보 일반채용 신입 ...,job.korea.ac.kr,post_id
5,2021-08-19,2021-08-31,965,국립생태원 기업 기간제 근로자 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
6,2021-08-19,2021-08-27,964,서울교대 기업 조교 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
7,2021-08-19,채용시 마감,963,Morgan Stanley_인사부 기업 Institutional Equity Div...,job.korea.ac.kr,post_id
8,2021-08-19,2021-08-23,962,철새이동경로 파트너십 (EAAFP) 기업 사무국 인턴십채용 공고 게재 요청 일반채용...,job.korea.ac.kr,post_id
9,2021-08-19,2021-09-01,960,유엔세계식량계획(WFP) 기업 한국사무소 채용 공고 (Business Support...,job.korea.ac.kr,post_id
10,2021-08-19,채용시 마감,959,한화솔루션 기업 2021 한화솔루션 e커머스전략팀 인턴채용 일반채용 신입 정규직,job.korea.ac.kr,post_id
11,2021-08-19,21-08-19 상,958,LG전자 기업 HE사업본부 SW 신입사원 수시채용 (채용연계형 인턴십) 일반채용 신...,job.korea.ac.kr,post_id
12,2021-08-19,2021-08-24,957,삼일회계법인 기업 RA 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
13,2021-08-19,2021-08-27,956,롯데케미칼 기업 2021 롯데케미칼 신입사원 모집 (~8/27 금) 일반채용 신입 ...,job.korea.ac.kr,post_id
14,2021-08-19,채용시 마감,955,큐램 기업 직원 채용 공고 일반채용 신입 정규직,job.korea.ac.kr,post_id
15,2021-08-19,2021-09-10,954,"국제백신연구소(IVI) 기업 모금홍보담당 직원(계약직, 인턴) 채용공고 일반채용 신...",job.korea.ac.kr,post_id
16,2021-08-19,채용시 마감,953,"퀀타매트릭스 기업 전략기획본부 IR,BD팀_인턴 채용공고 일반채용 신입 정규직",job.korea.ac.kr,post_id
17,2021-08-19,2021-08-24,952,[순천향대학교 부속 부천병원] 기업 본원 사무처 정규직 사무원 채용공고 일반채용 신...,job.korea.ac.kr,post_id